Alligator_Indi_Alligator_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Alligator_Indi_Alligator_MA_Method,1=0
Alligator_Indi_Alligator_MA_Method,2=1
Alligator_Indi_Alligator_MA_Method,3=3
Alligator_Indi_Alligator_MA_Method,F=1
Alligator_Indi_Alligator_MA_Method={{ ma_method | default(0) }}
Alligator_Indi_Alligator_Period={{ period | default(4) }}
Alligator_Indi_Alligator_Shift={{ shift | default(0) }}
Alligator_LotSize={{ lot_size | default(0) }}
Alligator_PriceStopMethod=0
Alligator_SignalOpenFilterMethod=1
Alligator_SignalOpenLevel={{ signal_open_level | default(0) }}
Alligator_TickFilterMethod=1
