Alligator_Indi_Alligator_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Alligator_Indi_Alligator_MA_Method={{ ma_method | default(0) }}
Alligator_Indi_Alligator_Period_Jaw={{ jaw_period | default(0) }}
Alligator_Indi_Alligator_Period_Lips={{ lips_period | default(0) }}
Alligator_Indi_Alligator_Period_Teeth={{ teeth_period | default(0) }}
Alligator_Indi_Alligator_Shift={{ (shift | default(0) | int) }}
Alligator_Indi_Alligator_Shift_Jaw={{ jaw_shift | default(0) }}
Alligator_Indi_Alligator_Shift_Lips={{ lips_shift | default(0) }}
Alligator_Indi_Alligator_Shift_Teeth,1={{ [(teeth_shift | default(0) | int) - 2, 0] | max }}
Alligator_Indi_Alligator_Shift_Teeth,2=1
Alligator_Indi_Alligator_Shift_Teeth,3={{ (teeth_shift | default(0) | int) + 2 }}
Alligator_Indi_Alligator_Shift_Teeth,F=1
Alligator_Indi_Alligator_Shift_Teeth={{ teeth_shift | default(0) }}
Alligator_LotSize={{ lot_size | default(0) }}
Alligator_PriceStopMethod=0
Alligator_SignalOpenFilterMethod=1
Alligator_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Alligator_TickFilterMethod=1
