Alligator_Indi_Alligator_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Alligator_Indi_Alligator_MA_Method={{ ma_method | default(0) }}
Alligator_Indi_Alligator_Period_Jaw={{ period_jaw | default(0) }}
Alligator_Indi_Alligator_Period_Lips={{ period_teeth | default(0) }}
Alligator_Indi_Alligator_Period_Teeth={{ period_teeth | default(0) }}
Alligator_Indi_Alligator_Shift={{ shift | default(0) }}
Alligator_Indi_Alligator_Shift_Jaw={{ shift_jaw | default(0) }}
Alligator_Indi_Alligator_Shift_Lips={{ shift_lips | default(0) }}
Alligator_Indi_Alligator_Shift_Teeth={{ shift_teeth | default(0) }}
Alligator_LotSize={{ lot_size | default(0) }}
Alligator_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
Alligator_PriceStopMethod={{ price_stop_method | default(0) }}
Alligator_Shift,1=0
Alligator_Shift,2=1
Alligator_Shift,3=1
Alligator_Shift,F=1
Alligator_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
Alligator_SignalCloseMethod={{ signal_close_method | default(0) }}
Alligator_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
Alligator_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
Alligator_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
Alligator_SignalOpenMethod={{ signal_open_method | default(0) }}
Alligator_TickFilterMethod={{ tick_filter_method | default(1) }}
